body {
  background-color: rgb(0, 0, 0);
  color: rgb(211, 208, 27);
}
h1 {
  color: rgb(235, 18, 18);
}
ul {
  list-style-type: decimal;
}
.blue {
  color: rgb(22, 169, 236);
}
.orange {
  color: orange;
}
a:hover {
  color: gray;
}
a {
  color: aqua;
}
#welcome {
  padding: 9px 5px 9px 750px;
  border: 10px double orchid;
  margin: auto;
  width: 50%;
}
.div1 {
  color: cyan;
  padding: 10px 5px 10px 5px;
  border: 15px dashed yellowgreen;
  margin: 0 auto;
  width: 50%;
}
